.& {

}

.& .spin-wrapper {
  position: relative;
  top: fromPixel(180);
  height: fromPixel(700);
  width: fromPixel(150);
  border: 4px dotted rgba(255,255,255,0.5);
  border-radius: fromPixel(75);
}