.& {
  color: $mainTextColor;
  text-align: center;
  font-size: 20px;
  position: relative;
  top: -170px;
  height: 170px;
  background-color: rgba(0,0,0,0.2);
  border-top: 1px solid black;
}
.& .checkbox {
  position: relative;
  top: fromPixel(10);
  left: fromPixel(20);
}

.& .checkbox .volume-up {
  position: absolute;
  transform: scale3d(0.7,0.7,0.7);
  transform-origin: center;
  top: fromPixel(-25);
}

.& .balance, .& .dropdown {
  position: absolute;
  font-size: 50px;
  line-height: 1;
  padding: 40px;
  margin: 20px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  border: 1px solid white;
  text-align: left;
}

.& .balance {  left: 300px; width: 800px }
.& .dropdown {  left: 1300px; padding: 29px 40px; width: 400px;}
.& .dropdown select {height: 69px;    vertical-align: middle;font-family: Frijole;font-size: 50px;}