.& {
  display: inline-block;
}
.& button {
  width: auto;
  height: 60px;
  display: inline-block;
  border-radius: 60px;
  margin: 0 5px;
  padding: 0 10px;
  font-size: 20px;
  color: $secondaryTextColor;
}

.& button:before {
  font-family: FontAwesome;
  padding-right: 10px;
}