.& {
  color: $mainTextColor;
  text-align: center;
  display: block;
  position: relative;
  left: fromPixel(-$buttonSize-20);
}
.& .play {
  position: relative;
  //top: fromPixel(($gameHeight - $buttonSize)/2);
}
.& .stop {
  position: relative;
  //top: fromPixel(($gameHeight - $buttonSize)/2);
  //display: none;
}