.& {
  color: $mainTextColor;
  text-align: center;
  display: block;
  position: relative;
  left: fromPixel(-$buttonSize-20);
}
.& .play {
  top: fromPixel(($gameHeight - $buttonSize)/2);
}
.& .stop {
  top: fromPixel(($gameHeight - $buttonSize)/2);
  display: none;
}