.& {
  position: relative;
  width: 100%;
  height: 100%;
}
.& .wrapper {
  width: fromPixel(1700);
  height: fromPixel(721);
  margin-top: fromPixel(166);
  margin-left: fromPixel(106);
  position: relative;
  background-color: rgba(0,0,0,0.1);
}
.& .reel {position: absolute;}
.& .n1 {left: fromPixel(150);}
.& .n2 {left: fromPixel(500);}
.& .n3 {left: fromPixel(850);}
.& .n4 {left: fromPixel(1200);}
.& .n5 {left: fromPixel(1550);}