.burger {

    $buttonSize : 125;
    $transition: .3s;
    $lineHeight: 12;
    $lineDistance: 28;
    $lineWidth: 100;
    $buttonCenter: $buttonSize/2 - 6;
    $color: white;

    background-color: transparent;
    position: absolute;
    top: fromPixel(60);
    left: fromPixel(60);
    display: inline-block;
    width: fromPixel($buttonSize);
    height: fromPixel($buttonSize);
    z-index: 1;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    .iphone5 & {
        top: fromPixel(70);
    }

    .line {
        background: $color;
        display: inline-block;
        margin: 0 fromPixel(($buttonSize - $lineWidth) / 2);
        width: fromPixel($lineWidth);
        height: fromPixel($lineHeight);
        transition: $transition;
        left: fromPixel(0);
        position: absolute;
    }

    &.open {
        opacity: 1 !important;
        .line-1 {
            transition: top .3s ease, transform .3s .5s ease;
            top: fromPixel($buttonCenter);
            transform: rotate3d(0,0,1,45deg);
        }
        .line-2 {
            transition: background .3s 0s ease;
            background: transparent;
        }
        .line-3 {
            transition: top .3s ease, transform .3s .5s ease;
            top: fromPixel($buttonCenter);
            transform: rotate3d(0,0,1,-45deg);
        }
    }

    .line-1 {
        top: fromPixel($buttonCenter - $lineDistance);
        transform-origin: 50% 50%;
        transition: top .3s .6s ease, transform .3s ease;
    }

    .line-2 {
        top: fromPixel($buttonCenter);
        transition: background .3s .6s ease;
    }

    .line-3 {
        top: fromPixel($buttonCenter + $lineDistance);
        transform-origin: 50% 50%;
        transition: top .3s .6s ease, transform .3s ease;
    }

}
