.& {
  width: fromPixel($symbolSize);
  height: fromPixel($symbolSize);
  background: url(images/$symbolCategory/$id.png);
  position: absolute;
  transform-origin: 0px 0px -180px;
  backface-visibility: hidden;
  transform: scale3d(2,2,2);
}

@keyframes rotate-& {
  0% {transform: rotate3d(1,0,0, 360deg) scale3d(2,2,2);-webkit-filter: blur(1px)}
  100% {transform: rotate3d(1,0,0, 0deg) scale3d(2,2,2);-webkit-filter: blur(1px)}
}