.& {
  display: none; opacity: 0; position: fixed; top: 0;left:0;right:0;bottom:0;
}
.&.show {
  display: block;
  opacity: 0.5;
}
.&.cover {
  display: block;
  opacity: 1;
}

@keyframes show-& {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}

@keyframes hide-& {
  0% {opacity: 0.5;}
  100% {opacity: 0;}
}

@keyframes remove-cover-& {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}