/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:82f0461481e65d6381f1c4681b23614b:325709a015d2a7094db5bedce95bc125:cd9998c5df78577a35266ed094696ca1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(slot.png);}

.1bar {width:108px; height:108px; background-position: -1px -1px}
.2bar {width:108px; height:108px; background-position: -111px -1px}
.3bar {width:108px; height:108px; background-position: -221px -1px}
.bell {width:108px; height:108px; background-position: -331px -1px}
.cherry {width:108px; height:108px; background-position: -441px -1px}
.grapes {width:108px; height:108px; background-position: -551px -1px}
.money {width:108px; height:108px; background-position: -661px -1px}
.seven {width:108px; height:108px; background-position: -771px -1px}
